<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="about.css" />
    <title>企業概要</title>
  </head>
  <body>
  <h1>企業概要</h1>
  <table>
    <tr>
      <td>会社名</td>
      <td>株式会社ABC</td>      
    </tr>
    <tr>
      <td>住所</td>
      <td>神奈川県平塚市</td>
    </tr>
    <tr>
      <td>代表</td>
      <td>シュレスタビサルクマル</td>
    </tr>
    <tr>
      <td>資本金</td>
      <td>00000</td>
    </tr>
    <tr>
      <td>設立</td>
      <td>2020</td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td>0000000000</td>
    </tr>
  </table>
  <div class="map">
    <h3>アクセス</h3>
    <div id="map_tokyo">
      <h2>東京</h2>
      <div class="map_url">
        <iframe src="https://www.bing.com/maps/embed?h=400&w=800&cp=35.31851890510579~139.32843051277484&lvl=15.16701083047817&typ=s&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
        </iframe>
        <address>〒000-0000  神奈川県平塚市</address>
      </div>
    </div>
    <div id="map_oosaka">
      <h2>大阪</h2>
      <div>
        <iframe src="https://www.bing.com/maps/embed?h=400&w=800&cp=35.31851890510579~139.32843051277484&lvl=15.16701083047817&typ=s&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
        </iframe>
        <address>〒000-0000  神奈川県平塚市</address>
      </div>
    </div>
  </div>
  
  
  </body>
</html>