<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>株式会社ABC</title>
  </head>
  <body>
    <main class="content_page">
      <h1 class="page_title">事業内容</h1>    
        <div class="flex_container">
          <div class="flex_1">
            <h2 class="project_title">事業内容 <span>Project</span></h2>
            <p class="project_details">
              業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。
            </p>
          </div>
          <div class="flex_2">
            <img src="../assets/PC_Project_1.jpg" alt="project_img"/>
          </div>
        </div>
        <div class="horizental_line"><hr></div>

        <div class="flex_container">
          <div class="flex_2">
            <img src="../assets/PC_Project_2.jpg" alt="project_img"/>
          </div>
          <div class="flex_1">
            <h2 class="project_title">事業内容 <span>Project</span></h2>
            <p class="project_details">
              業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。業務内容のテキスト。
            </p>
          </div>
        </div>
      </main>
  </body>
</html>