<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="member.css" />
    <title>社員</title>
  </head>
  <body>
    <!--CEO container-->
    <div class="CEO">     
      <div class="absolute_box">
        <div class="CEO_title"> 
          <h2>
            代表 <span>CEO</span>
          </h2>
        </div>
        <div class="flex">
          <div class="content">
            <div class="member_name">
              <p>代表<br/>開発　ビサルクマル</p>
            </div>
            <p>
              経歴のテキスト。経歴のテキスト。経歴のテキスト。
              経歴のテキスト。<br /><br />
              想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。
              想いテキスト。想いテキスト。<br /><br />
              おもしろテキスト。おもしろテキスト。おもしろテキスト。
            </p>
          </div>
          <div class="img">
            <img class="img_1" src="../assets/Member.jpg" alt="project_img"/>
          </div>            
        </div>
      </div>
    </div>
    <!--members container--------->
    <div class="member">
      <!--member one-->
      <div class="member_one">
        <div class="absolute_box">
          <div class="member_title"> 
            <h2>
              社員 <span>Member</span>
            </h2>
          </div>
          <div class="flex">
            <div class="img">
              <img src="../assets/Member.jpg" alt="project_img"/>
            </div>
            <div class="content">
              <div class="member_name">
                <p>代表<br/>開発　ビサルクマル</p>
              </div>
              <p>
                経歴のテキスト。経歴のテキスト。経歴のテキスト。
                経歴のテキスト。<br /><br />
                想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。
                想いテキスト。想いテキスト。<br /><br />
                おもしろテキスト。おもしろテキスト。おもしろテキスト。
              </p>
            </div>            
          </div>
        </div>
      </div>
     <!--member two-->
      <div class="member_two">
        <div class="absolute_box">
          <div class="flex">
            <div class="content">
              <div class="member_name">
                <p>代表<br/>開発　ビサルクマル</p>
              </div>
              <p>
                経歴のテキスト。経歴のテキスト。経歴のテキスト。
                経歴のテキスト。<br /><br />
                想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。
                想いテキスト。想いテキスト。<br /><br />
                おもしろテキスト。おもしろテキスト。おもしろテキスト。
              </p>
            </div>
            <div class="img">
              <img src="../assets/Member.jpg" alt="project_img"/>
            </div>          
          </div>
        </div>
      </div>
      <!--member three-->
      <div class="member_three">
        <div class="absolute_box">
          <div class="flex">
            <div class="img">
              <img src="../assets/Member.jpg" alt="project_img"/>
            </div>
            <div class="content">
              <div class="member_name">
                <p>代表<br/>開発　ビサルクマル</p>
              </div>
              <p>
                経歴のテキスト。経歴のテキスト。経歴のテキスト。
                経歴のテキスト。<br /><br />
                想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。
                想いテキスト。想いテキスト。<br /><br />
                おもしろテキスト。おもしろテキスト。おもしろテキスト。
              </p>
            </div>            
          </div>
        </div>
      </div> 
      <!--member four-->
      <div class="member_three">
        <div class="absolute_box">
          <div class="flex">
            <div class="content">
              <div class="member_name">
                <p>代表<br/>開発　ビサルクマル</p>
              </div>
              <p>
                経歴のテキスト。経歴のテキスト。経歴のテキスト。
                経歴のテキスト。<br /><br />
                想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。想いテキスト。
                想いテキスト。想いテキスト。<br /><br />
                おもしろテキスト。おもしろテキスト。おもしろテキスト。
              </p>
            </div>
            <div class="img">
              <img src="../assets/Member.jpg" alt="project_img"/>
            </div>          
          </div>
        </div>
      </div> 

    </div> 
    <!--members container end--------->


  </body>
</html>